/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.cog-wrapper {
    position: relative;
    width:588px;
    // height: 50%;
    height: 588px;
    margin: 100px 5%;

}
.voting-form {
    position: absolute;
    top:0;
    @include putOnCircle(9, 450px, 90px, false);
}

.cog {
    fill: $white;
    stroke: $black;
    position: absolute;
    stroke-width: 0.15px;
}

.cog.voted {
    animation: barrelRoll 100s infinite linear;
    fill: $black;
}

@keyframes barrelRoll {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.innov {
    // background: blue;
    position: absolute;
    margin: 0;
    width: 10%;
    /*height: auto;*/
    /*padding-bottom:5%;*/
    border-radius:50%;
    position: absolute;
    margin: 0;
    transition: opacity 500ms;
    outline: none;
}



.chosen {
    width: 20%;
    font-size: 2em;
}

.innov:hover {
    opacity: 0.85;
    cursor: pointer;
}

.disabled {
    background: $black;
    &:hover {
        cursor: default;
        opacity: 1;
    }
}

.innov svg {
    max-width: 100%;
    max-height: 100%;
}
// .top {
//     top: 5%;
// }

// .center {
//     left: 45%;
// }

// .right {
//     left: 72%
// }
.innov {

    // &:first-of-type {
    //     top: 0;
    //     left: 50%;
    // }

    // &:nth-of-type(2) {
    //     top: 25%;
    //     left: 75%;
    // }

    // &:nth-of-type(3) {
    //      top: 50%;
    //     left: 100%;
    // }

    // &:nth-of-type(4) {
    //     top: 75%;
    //     left: 75%;
    // }

    // .lower.right {
    //     top: 66%;
    //     left: 82%;
    // }

    // .bottom.right {
    //     top: 84%;
    //     left: 59%;
    // }

    // &:nth-of-type(5) {
    //     top: 100%;
    //     left: 50%;
    // }

    // &:nth-of-type(6) {
    //     top: 75%;
    //     left: 25%;
    // }

    // &:nth-of-type(7) {
    //     top: 50%;
    //     left: 0%;
    // }

    // &:nth-of-type(8) {
    //     top: 25%;
    //     left: 25%;
    // }

    // &:nth-of-type(9) {
    //     top: 40%;
    //     left: 0;
    // }
}


.poster {
    position: absolute;
    width: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

button {
    background: black;
    color: white;
    border: 0;
}
