/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
    background: url('../images/background.jpg');
}

main {
    overflow: hidden;

    & > * {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.cog-wrapper {
    position: relative;
    width:100%;
    color: $white;
    text-align: center;
    margin-top: 100px;
}

.voting-form, .voting-form noscript {
    width: 100%;
    height: 350px;
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto 0;
    align-content: space-around;
    @include tablet {
        height: 630px;
    }
    @include mobile {
        height: 1100px;
        width: 75%;
    }
}

.cog {
    fill: $blue;
    opacity: 0.6;
    position: absolute;
    width: 1300px;
    height:1300px;
    left: 50%;
    top:90%;
    z-index:-1;
    animation: barrelRoll 400s infinite linear;

    @include tablet {
        width: 900px;
        height: 900px;
        top: 50%;
    }

    @include mobile {
        width: 100%;
        height: 800px;
        top: 60%;
    }

    &:nth-of-type(2) {
        animation: reverseBarrelRoll 300s infinite linear;
        left:80% ;
        top:100% ;
        fill: $red;
        width: 390px;
        height:390px;
    }
}

@keyframes barrelRoll {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes reverseBarrelRoll {
    100% { transform: rotate(0deg); }
    0% { transform: rotate(360deg); }
}


.innov {
    margin: 0;
    background: transparent;
    margin: 1.5%;
    height: 100px;
    transition: background 50ms;
    outline: none;
    position: relative;
    z-index:1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 3px solid $white;
    flex: 1 0 30%;
    img {
        max-height: 100%;
        transition: filter 50ms;
    }

    span {
        font-size: 1.33em;
        order:1;
        align-self: center;
        transition: color 50ms;
        text-align: right;
        font-weight: 400;
        letter-spacing: 0.015em;
        font-family: 'Alegreya Sans', sans-serif;
        width: 45%;
        float: right;
    }

    @include tablet {
        flex: 1 0 47%;
        &:last-of-type {
            max-width: 50%
        }
    }

    @include mobile {
        flex: 1 0 100%;
        &:last-of-type {
            max-width: 100%
        }
    }
}

p {
    text-align: center;
}

.cta {
    margin-top: 30px;
    color: $black;
}

h1 {
    text-align: center;
    letter-spacing:0.05em;
    font-size:3.5em;
    color: $white;
    display: inline;
    background: $red;
    line-height: 1.1;
    margin-bottom: 20px;

    @include tablet {
        font-size:2.5em;
    }

    @include mobile {
        font-size: 2em;
    }

    span {
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
}

input:not([type='submit']),
textarea {
    width: 100%;
    height: 30px;
    font-size: 1.75em;
    color: #cccccc;

}

textarea {
    height: 80px;
}

.nomination {
    z-index:1;
    position:relative;
    text-align: center;
    margin:10px auto;
    padding-bottom:10px;
    max-width: 770px;
    color:$black;

    h3 {
    }
}

.sponsored {

    margin: 0 auto;
    max-width: 770px;
    p {
        font-size:0.9em;
        color: $black;
        text-align: center;
    }
}
header {
    position: relative;
}
.poster {
    width: 100%;
    height: auto;
    max-width: 1280px;
    margin: 0 auto;
    display: block;
    border-bottom: 8px solid $white;
    @include large {
        border-left: 8px solid $white;
        border-right: 8px solid $white;
    }
}
.chosen {
    @extend .innov:hover;
}



.innov:hover {
    // opacity: 1;
    background: $red;
    color: $white;
    cursor: pointer;
    border-color: $black;
    img {

        filter: invert(1);
    }

    span {
        color: $black;
    }
}

.disabled {
    &:hover {
        cursor: default;
        opacity: 1;
    }
}

.nomination button {
    background: transparent;
    color: white;
    border: 0;
    padding: 10px 75px;
    display: block;
    margin: 0 auto;
    border: 3px solid $white;
    font-size: 1.33em;
    font-weight: 400;
    letter-spacing: 0.015em;
    font-family: 'Alegreya Sans', sans-serif;
    &:hover {
        background: $red;
        border-color: $black;
        color: $black;
    }

    &.disabled {
        background:#ccc;
        border: none;
        outline: none;
        &:hover {
            color: $white;
        }

        &.chosen {
            background: $red;
            border: 3px solid $black;
            color: $black;
        }
    }


}
