@-moz-document url-prefix() {
    .voting-form, .voting-form noscript {
        height: 240px;

        @include tablet {
            height: 365px;
        }

        @include mobile {
            height: 550px;
        }
    }

}
