.nanoModal.nanoModalOverride {
    position: fixed;
    width: 600px;
    text-align: left;
    background: $white;
    border-radius: 0;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    margin-left: 0 !important;

    input, textarea  {
        outline: none;
        border: 3px solid $blue;
        background: $white;
        color: $black;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 0.015em;
        font-family: 'Alegreya Sans', sans-serif;
    }

    &:before {
        content: '';
        background: $white;
        height: 50%;
        width:100%;
        transform: skewY(4deg);
        position: absolute;
        top:-30px;
        left:0;
        z-index:1;
    }

    &:not(.wild) {
        text-align: center;
        &:before {
             background: $blue;
        }
    }
    &:after {
        content: '';
        background: $white;
        height: 15%;
        width:100%;
        transform: skewY(4deg);
        position: absolute;
        bottom: -25px;
        left:0;
        z-index:0;
    }
    &.wild {
        background: $white;
        &:before {
            background: $white;
        }
        &:after {
            background: $white;
        }
    }

    .disabled {
        background: #ccc;
        color: $white;
        outline: none;
        border: 0;
        opacity: 0.5;
        &:hover {
            border: 0;
        }
    }

    @include mobile {
        width: 100%;
    }
}

label {
    margin: 10px 0 5px;
    font-size: 1.5em;
    background: $red;
    color: $white;
    display: inline !important;
   // font-family: 'Alegreya Sans', sans-serif;
   font-weight: 800;
   padding: 0 3px;
}


.nanoModalContent {
    background: transparent;
    z-index:2;
    position: relative;
}
.nanoModalButtons {
    z-index: 2;
    position:relative;
    border-top: 0;

}

.nanoModalBtn {
    border: 3px solid $blue;
    font-size: 1.33em;
    font-weight: 400;
    letter-spacing: 0.015em;
    font-family: 'Alegreya Sans', sans-serif;
     &:hover {
        background: $red;
        border-color: $black;
        color: $white;
    }
}

.wild {
    background: $white;
}
