/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.cog-wrapper {
    position: relative;
    width:50%;
    height: 50%;
    margin: 100px 5%;
}

.cog {
    animation: barrelRoll 100s infinite linear;
}

@keyframes barrelRoll {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.innov {
    background: blue;
    position: absolute;
    margin: 0;
    width: 10%;
    /*height: auto;*/
    /*padding-bottom:5%;*/
    border-radius:50%;
    position: absolute;
    margin: 0;
    transition: opacity 500ms;
    outline: none;
}



.chosen {
    width: 20%;
    font-size: 2em;
}

.innov:hover {
    opacity: 0.85;
    cursor: pointer;
}

.disabled {
    background: $black;
    &:hover {
        cursor: default;
        opacity: 1;
    }
}

.innov svg {
    max-width: 100%;
    max-height: 100%;
}
.top {
    top: 5%;
}

.center {
    left: 45%;
}

.right {
    left: 72%
}
.innov {
    &:first-of-type {
        top: 13%;
        left: 72%
    }

    &:nth-of-type(2) {
        top: 38%;
        left: 84%;
    }

    &:nth-of-type(3) {
         top: 66%;
        left: 82%;
    }

    &:nth-of-type(4) {
        top: 84%;
        left: 59%;
    }

    // .lower.right {
    //     top: 66%;
    //     left: 82%;
    // }

    // .bottom.right {
    //     top: 84%;
    //     left: 59%;
    // }

    &:nth-of-type(5) {
        top: 84%;
        left: 31%;
    }

    &:nth-of-type(6) {
        top: 66%;
        left: 10%;
    }

    &:nth-of-type(7) {
        top: 38%;
        left: 6%;
    }

    &:nth-of-type(8) {
        top: 13%;
        left: 18%;
    }

    &:nth-of-type(9) {
        top: 10%;
        left: 48%;
    }
}


.poster {
    position: absolute;
    width: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

button {
    background: black;
    color: white;
    border: 0;
}
