.nanoModal.nanoModalOverride {
    position: fixed;
    width: 600px;
    text-align: center;
    background: $white;
    border-radius: 0;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    margin-left: 0 !important;

    &:before {
        content: '';
        background: $blue;
        height: 50%;
        width:100%;
        transform: skewY(4deg);
        position: absolute;
        top:-30px;
        left:0;
        z-index:1;
    }
    &:after {
        content: '';
        background: $white;
        height: 15%;
        width:100%;
        transform: skewY(4deg);
        position: absolute;
        bottom: -25px;
        left:0;
        z-index:0;
    }
    &.wild {
        background: $white;
        &:before {
            background: $red;
        }
        &:after {
            background: $blue;
        }
    }

    .disabled {
        background: #ccc;
        color: $white;
        outline: none;
        border: 0;
        opacity: 0.5;
        &:hover {
            border: 0;
        }
    }

    @include mobile {
        width: 100%;
    }
}

label{ text-align: left; margin: 10px 0 5px; font-size: 1.25em;}

input, textarea  {
    outline: none;
    border: 1px solid #eee;

}
.nanoModalContent {
    background: transparent;
    z-index:2;
    position: relative;
}
.nanoModalButtons {
    z-index: 2;
    position:relative;
    border-top: 0;
}

.wild {
    background: $red;
}
